
h2{
    margin-top: 40px;
    margin-left: 20px;
    font-family: $font2;
    font-weight: bold;
}

h3{
    margin-top: 30px;
    margin-left: 20px;
    font-family: $font2;
    font-weight: bold;
}



p{
    margin-top: 10px;
    margin-left: 15px;
    text-align: justify;
    font-family: $font1;
    margin-right: 15px;
    margin-bottom: 15px;
}

li{
    margin-right: 15px;
    margin-top: 10px;
    margin-left: 40px;
    text-align: justify;
    font-family: $font1;
}

