.container-top {
  margin-left: 10%;
  position: relative;
  margin-top: 10%;
  margin-bottom: 20%;
}

.title-top {
  position: absolute;
  width: 635px;
  height: 45px;
  font-family: Helvetica Neue;
  font-style: normal;
  font-weight: bold;
  font-size: 80px;
  line-height: 30px;
  text-align: center;
  color: #353535;
}

.img-top {
  margin-left: 60%;
  margin-top: 5%;
  background: transparent;
}

.filter {
  font-family: Helvetica Neue;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 25px;
  color: #353535;
  margin-top: 120px;
  position: absolute;
  align-items: center;
  display: flex;
}

.event-grid {
  height: 100%;
  position: relative;
  display: grid;
  overflow: hidden;
  justify-content: center;
  align-items: center;
  grid-template-columns: repeat(auto-fit, minmax(450px, 450px));
  gap: 50px;
  margin: auto;
  width: 100%;
}

.event-1,
.event-2,
.event-3,
.event-4,
.event-5,
.event-6 {
  position: relative;
  display: flex;
  align-items: flex-end;
  flex-direction: column;
  justify-content: space-between;
}

.show-more-events {
  font-family: Helvetica Neue;
  font-style: normal;
  font-weight: 200;
  margin-top: 5%;
  width: 50%;
  font-size: 20px;
  line-height: 20px;
  position: relative;
  justify-content: center;
  margin-left: -8%;
  align-items: center;
  display: flex;
  img {
    margin-left: 3%;
    transition: 0.2s;
    -webkit-transition: 0.2s;
    -moz-transition: 0.2s;
    -ms-transition: 0.2s;
    -o-transition: 0.2s;
  }
  img:hover {
    cursor: pointer;
    transform: scale(1.2);
    -webkit-transform: scale(1.2);
    -moz-transform: scale(1.2);
    -ms-transform: scale(1.2);
    -o-transform: scale(1.2);
  }
}

@media only screen and (max-width: 433px) {
  .title-top {
    font-family: Helvetica Neue;
    font-style: normal;
    font-weight: bold;
    font-size: 48px;
    line-height: 54px;
    color: #353535;
  }

  .container-top {
    position: relative;
    margin-left: 0 !important;
    margin-top: 20%;
    .title-top {
      width: 80%;
      text-align: left;
      margin-left: 10%;
    }
    .sous-titre-video {
      font-family: Helvetica Neue;
      font-style: normal;
      font-weight: normal;
      font-size: 16px;
      line-height: 20px;
      color: #353535;
      width: 80%;
      margin-left: 0;
      margin-top: 0;
      text-align: left;
    }
    .img-top {
      margin-left: 25%;
      margin-top: 60%;
      width: 280px;
      background: transparent;
    }
    .mail {
      margin-left: 10%;
      position: relative;
    }
    .filter {
      margin-left: 10%;
    }
  }
  .event-grid {

    width: 95%;
  }
  .event-1, .event-2,
  .event-3, .event-4,
  .event-5, .event-6 {
    width: auto;
  }
  .show-more-events {
    font-size: 15px;
    margin-left: 0;
    img {
      margin-left: 20px;
      width: 55px;
      height: 55px;
    }
  }
}
