a:hover {
    text-decoration: none;
}

a {
    text-decoration: none;
}

.header {
    display: flex;
    align-items: center;
    justify-content: space-around;
    width: 100%;
    line-height: 70px;
}

.logo {
    margin-top: 27px;
    height: 40px;
    width: 155px;
}

.menu a {
    color: #353535;
    margin-left: 5em;
    font-size: 16px;
    font-family: $font1;
    transition: 0.2s;
    -webkit-transition: 0.2s;
    -moz-transition: 0.2s;
    -ms-transition: 0.2s;
    -o-transition: 0.2s;
}

.hamburger {
    display: none;
}

a:hover {
    color: #d65d38;
}

@media only screen and (min-width: 2560px) {
    .menu a {
        font-size: 18px;
    }
}

@media only screen and (max-width: 433px) {
    .header {
        display: block;
        line-height: normal;
        width: 100%;
    }
    .menu {
        display: none;
    }
    .logo {
        margin-left: 133px;
        margin-top: 30px;
        width: 100px;
        height: 28px;
    }
    .hamburger {
        float: right;
        margin-right: 19px;
        margin-top: 28px;
        display: inherit;
        width: 42px;
        height: 31px;
    }
}

@media only screen and (max-width: 1440px)  {
 .header {
     position: sticky;
 }
}