input:focus,
textarea:focus,
select:focus {
    outline: none;
}

.container-newsletter {
    position: relative;
    color: #353535;
    background-color: transparent !important;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 120px;
}

.newsletter-title {
    font-family: "Helvetica Neue", sans-serif;
    font-size: 40px;
    font-weight: bold;
    position: absolute;
    background: transparent !important;
}

.newsletter-content {
    font-size: 16px;
    width: 915px;
    height: 60px;
    margin-top: 200px;
    align-items: center;
    position: absolute;
}

.send:hover {
    cursor: pointer;
    transform: scale(1.2);
    -webkit-transform: scale(1.2);
    -moz-transform: scale(1.2);
    -ms-transform: scale(1.2);
    -o-transform: scale(1.2);
}
.mail {
    margin-right: 100px;
    margin-top: 200px;
    align-items: center;
    position: reslative;
    justify-content: center;
    display: flex;
}

.send {
    position: absolute;
    margin-top: 7.5px;
    margin-left: 230px;
    width: 70px;
    height: 70px;
    transition: 0.1s;
    -webkit-transition: 0.1s;
    -moz-transition: 0.1s;
    -ms-transition: 0.1s;
    -o-transition: 0.1s;
}

.form-email {
    font-size: 16px;
    font-family: $font1;
    font-weight: lighter;
    margin-left: 0;
    position: absolute;
    border-top: none;
    border-left: none;
    border-right: none;
    border-bottom: solid 1px black;
}

.n-icon {
    margin-left: 143px;
    margin-top: 25px;
    width: 75px;
    height: 75px;
}
