.ressources-grid {
  height: 100%;
  position: relative;
  display: grid;
  justify-content: center;
  align-items: center;
  grid-template-columns: repeat(auto-fit, minmax(315px, 315px));
  gap: 100px;
 margin: auto;
  width: 80%;
}

.ressource-1,
.ressource-2,
.ressource-3,
.ressource-4,
.ressource-5,
.ressource-6 {
  background: #3b51d1;
  width: 315px;
  height: 550px;
  margin-top: 92px;
  position: relative;
  padding: 40px;
  display: flex;
  align-items: flex-end;
  flex-direction: column;
  justify-content: space-between;
}

.ress-title {
  background: transparent;
  position: absolute;
  width: 245px;
  height: 85px;
  font-family: Helvetica Neue;
  font-style: normal;
  font-weight: bold;
  font-size: 24px;
  line-height: 32px;
  color: #fffaf4;
}

.ressource-bottom {
  display: flex;
  justify-content: space-between;
  width: 100%;
  align-items: center;
  background: transparent;
  height: 100%;
}

.ress-img {
  margin-left: 0;
  margin-top: 100%;
  background: transparent;
}

.ress-txt {
  background: transparent;
  font-family: Helvetica Neue;
  font-style: normal;
  width: 100%;
  font-weight: normal;
  font-size: 16px;
  position: absolute;
  line-height: 25px;
  color: #fffaf4;
  margin-top: 130%;
}

.likes {
  margin-left: 70px;
  background: transparent;
}

.ThumbUp {
  background: transparent;
}

.ressource-2 {
  .ress-img {
    margin-left: 20%;
  }
}

.ressource-3 {
  .ress-img {
    margin-left: 20%;
    margin-bottom: 10%;
  }
}

.ressource-4 {
  .ress-img {
    margin-left: 15%;
  }
}

.ressource-5 {
  .ress-img {
    margin-left: 5%;
  }
}

.ressource-6 {
  .ress-img {
    margin-left: 25%;
  }
}

.grid-p {
  width: 247px;
  margin-top: 10%;
  margin-left: 0;
  font-family: Helvetica Neue;
  font-style: normal;
  font-weight: normal;
  background: transparent;
  background-color: inherit;
  font-size: 16px;
  line-height: 25px;
  color: #ffffff;
}

.show-more {
  margin-top: 90px;
  font-family: Helvetica Neue;
  font-style: normal;
  font-weight: 200;
  width: 50%;
  font-size: 20px;
  line-height: 20px;
  position: absolute;
  margin-left: 20%;
  align-items: center;
  display: flex;
  img {
    margin-left: 40px;
    transition: 0.2s;
    -webkit-transition: 0.2s;
    -moz-transition: 0.2s;
    -ms-transition: 0.2s;
    -o-transition: 0.2s;
  }
  img:hover {
    cursor: pointer;
    transform: scale(1.2);
    -webkit-transform: scale(1.2);
    -moz-transform: scale(1.2);
    -ms-transform: scale(1.2);
    -o-transform: scale(1.2);
  }
}

.img-top {
  background: transparent;
}

.img-container {
  background: transparent;
  margin-left: 50%;
  width: 400px;
}

@media only screen and (max-width: 1440px) {
  .ressources-grid {
    width: 80%;
  }
  .show-more {
    margin-left: 14%;
  }
  .img-top {
    margin-bottom: 100px;
    margin-top: -5%;
  }
  .grid-footer {
    margin-top: 30%;
  }
  .container-top {
    margin-left: 16%;
  }
  .mail {
    margin-left: 4%;
  }
  .filter {
    margin-left: 4%;
  }
  .title-top {
    margin-top: -5%;
    .sous-titre-video {
      margin-left: 7% ;
      margin-top: 30px;
      width: 700px;
      color: #353535;
      text-align: left;
      font-family: Helvetica Neue;
      font-style: normal;
      font-weight: 500;
      font-size: 25px;
      line-height: 25px;
      /* or 100% */

      /* noir */

      color: #353535;
    }
  }
  .send-mail-ressource {
    position: absolute;
    margin-top: -2% !important;
    transition: 0.3s;
  }
  .send-mail-ressource:hover {
    cursor: pointer;
    transform: scale(1.1);
  }
}

.sous-titre-video {
  margin-left: 3%;
  margin-top: 30px;
  width: 700px;
  color: #353535;
  text-align: left;
  font-family: Helvetica Neue;
  font-style: normal;
  font-weight: 500;
  font-size: 25px;
  line-height: 25px;
  /* or 100% */

  /* noir */

  color: #353535;
}

@media only screen and (max-width: 433px) {
  .ressources-grid { 
    gap: 5px;
  }
}