*{
    padding: 0%;
    margin: 0%;
    box-sizing: border-box;
}

html {
    height: 100%;
    scroll-behavior: smooth;
    
}

::-webkit-scrollbar {
    display: none;
}
body {
    height: 100%;
}

@font-face {
    font-family: 'Denton test';
    src: url(font/Denton-Test-Black-900.woff) format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Denton test';
    src: url(font/Denton-Test-Bold-700.woff) format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Denton test';
    src: url(font/Denton-Test-ExtraBold-800.woff) format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Denton test';
    src: url(font/Denton-Test-Light-300.woff) format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Denton test';
    src: url(font/Denton-Test-Medium-500.woff) format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Denton 400';
    src: url(font/Denton-Test-Regular-400.woff) format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Denton 100', sans-serif;
    src: url(font/Denton-Test-Thin-100.woff) format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Helvetica Neue';
    src: url(font/HelveticaNeue-Medium.woff2) format('woff2'), url(font/HelveticaNeue-Medium.woff) format('woff');
    font-weight: 500;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Helvetica Neue';
    src: url(font/HelveticaNeue-Italic.woff2) format('woff2'), url(font/HelveticaNeue-Italic.woff) format('woff');
    font-weight: normal;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: 'Helvetica 100', sans-serif;
    src: url(font/HelveticaNeue-Thin.woff2) format('woff2'), url(font/HelveticaNeue-Thin.woff) format('woff');
    font-weight: 100;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Helvetica Neue';
    src: url(font/HelveticaNeue-Light.woff2) format('woff2'), url(font/HelveticaNeue-Light.woff) format('woff');
    font-weight: 300;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Helvetica Bold';
    src: url(font/HelveticaNeue-Bold.woff2) format('woff2'), url(font/HelveticaNeue-Bold.woff) format('woff');
    font-weight: bold;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Helvetica Neue';
    src: url(font/HelveticaNeue.woff2) format('woff2'), url(font/HelveticaNeue.woff) format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Denton test';
    src: url(font/Denton-Test-Black-900.woff) format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Denton test';
    src: url(font/Denton-Test-Bold-700.woff) format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Denton test';
    src: url(font/Denton-Test-ExtraBold-800.woff) format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Denton test';
    src: url(font/Denton-Test-Light-300.woff) format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Denton test';
    src: url(font/Denton-Test-Medium-500.woff) format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Denton test';
    src: url(font/Denton-Test-Regular-400.woff) format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Denton test';
    src: url(font/Denton-Test-Thin-100.woff) format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

$color1: #3B51D1;
$color2: #15B097;
$color3: #D65D38;

$color3: #353535;
$color4: #FFFAF4;



$font1: 'Helvetica Neue', sans-serif;
$font2: 'Denton test', sans-serif;
