* {
  padding: 0%;
  margin: 0%;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  background-color: #F5F5F5;
}

@font-face {
  font-family: 'Denton test';
  src: url(font/Denton-Test-Black-900.woff) format("woff");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Denton test';
  src: url(font/Denton-Test-Bold-700.woff) format("woff");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Denton test';
  src: url(font/Denton-Test-ExtraBold-800.woff) format("woff");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Denton test';
  src: url(font/Denton-Test-Light-300.woff) format("woff");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Denton test';
  src: url(font/Denton-Test-Medium-500.woff) format("woff");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Denton test';
  src: url(font/Denton-Test-Regular-400.woff) format("woff");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Denton test';
  src: url(font/Denton-Test-Thin-100.woff) format("woff");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Helvetica Neue';
  src: url(font/HelveticaNeue-Medium.woff2) format("woff2"), url(font/HelveticaNeue-Medium.woff) format("woff");
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Helvetica Neue';
  src: url(font/HelveticaNeue-Italic.woff2) format("woff2"), url(font/HelveticaNeue-Italic.woff) format("woff");
  font-weight: normal;
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: 'Helvetica Neue';
  src: url(font/HelveticaNeue-Thin.woff2) format("woff2"), url(font/HelveticaNeue-Thin.woff) format("woff");
  font-weight: 100;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Helvetica Neue';
  src: url(font/HelveticaNeue-Light.woff2) format("woff2"), url(font/HelveticaNeue-Light.woff) format("woff");
  font-weight: 300;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Helvetica Neue';
  src: url(font/HelveticaNeue-Bold.woff2) format("woff2"), url(font/HelveticaNeue-Bold.woff) format("woff");
  font-weight: bold;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Helvetica Neue';
  src: url(font/HelveticaNeue.woff2) format("woff2"), url(font/HelveticaNeue.woff) format("woff");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Denton test';
  src: url(font/Denton-Test-Black-900.woff) format("woff");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Denton test';
  src: url(font/Denton-Test-Bold-700.woff) format("woff");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Denton test';
  src: url(font/Denton-Test-ExtraBold-800.woff) format("woff");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Denton test';
  src: url(font/Denton-Test-Light-300.woff) format("woff");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Denton test';
  src: url(font/Denton-Test-Medium-500.woff) format("woff");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Denton test';
  src: url(font/Denton-Test-Regular-400.woff) format("woff");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Denton test';
  src: url(font/Denton-Test-Thin-100.woff) format("woff");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

.banner {
  background-color: #F5F5F5;
  position: relative;
  height: 100vh;
}

.banner .ban-img {
  position: absolute;
  top: 180px;
  left: 300px;
  margin: 0 auto;
  width: 500px;
  height: 350px;
  z-index: 3;
}

.banner .ban-img img {
  height: 100%;
  width: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

.banner .inner-banner {
  position: absolute;
  top: 120px;
  left: 300px;
  font-size: 40px;
  z-index: 5;
}

.banner .inner-banner p:nth-child(1) {
  -webkit-transform: translate(300px, 150px);
          transform: translate(300px, 150px);
  font-family: "Helvetica Neue", sans-serif;
  font-size: 50px;
  font-weight: bold;
}

.banner .inner-banner p:nth-child(2) {
  -webkit-transform: translate(300px, 135px);
          transform: translate(300px, 135px);
  font-size: 70px;
  font-family: "Denton test", sans-serif;
}

.banner .inner-banner p:nth-child(3) {
  -webkit-transform: translate(300px, 110px);
          transform: translate(300px, 110px);
  font-family: "Helvetica Neue", sans-serif;
  font-size: 50px;
  font-weight: lighter;
}

html {
  font-family: "Helvetica Neue", sans-serif;
}

h1 {
  font-weight: bold;
  font-size: 28px;
}

.test {
  color: #0D21A1;
  font-family: "Helvetica Neue", sans-serif;
  font-weight: bold;
  font-size: 50px;
}

section {
  position: absolute;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  text-align: center;
  width: 100%;
  padding-left: 30px;
  padding-right: 30px;
}

section article {
  margin-right: 30px;
}

section article p {
  margin-top: 15px;
}

section button {
  background-color: grey;
  width: 213px;
  height: 59px;
  border-radius: 93px;
  margin-top: 50px;
}

section .video iframe {
  background-color: grey;
  width: 628px;
  height: 392px;
}

.footer {
  font-size: 16px;
  font-family: "Helvetica Neue", sans-serif;
  position: absolute;
  bottom: 0;
  background-color: #F5F5F5;
  margin-top: 30px;
  -webkit-box-shadow: 0 1px 1px 0 rgba(0, 0, 0, 0.12);
          box-shadow: 0 1px 1px 0 rgba(0, 0, 0, 0.12);
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  width: 100%;
  height: 150px;
  text-align: left;
  font: bold 16px sans-serif;
  padding: 55px 50px;
  margin-top: 80px;
  color: black;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.footer-right {
  margin-bottom: -22px;
}

.footer-right a {
  margin-right: 10px;
}

.footer-right img {
  height: 45px;
}

.footer-left {
  font-family: "Denton test", sans-serif;
  font-weight: lighter;
  margin-bottom: -20px;
}

a.footer {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

.fab {
  color: black;
  font-size: 30px;
  margin-left: 20px;
  margin-top: 20px;
}

.fab:hover {
  color: #0A0A0A;
}

.footer-left.footer-center.footer-right {
  display: inline-block;
  vertical-align: top;
}

.logo-text {
  margin-top: 10px;
  height: 35px;
}

a:hover {
  text-decoration: none;
}

a {
  text-decoration: none;
}

.header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  background-color: #F5F5F5;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  width: 100%;
  height: 70px;
  line-height: 70px;
  position: fixed;
  top: 0;
  z-index: 999;
}

.logo {
  text-transform: uppercase;
  font-weight: bold;
  letter-spacing: 1px;
  height: 40px;
}

.menu a {
  color: #000000;
  margin-left: 59px;
  font-size: 16px;
  font-family: "Helvetica Neue", sans-serif;
}

a:hover {
  color: #D65D38;
}
/*# sourceMappingURL=styles.css.map */