* {
  padding: 0%;
  margin: 0%;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  background-color: #FFFAF4;
}

html {
  height: 100%;
  scroll-behavior: smooth;
}

::-webkit-scrollbar {
  display: none;
}

body {
  height: 100%;
}

@font-face {
  font-family: 'Denton test';
  src: url(font/Denton-Test-Black-900.woff) format("woff");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Denton test';
  src: url(font/Denton-Test-Bold-700.woff) format("woff");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Denton test';
  src: url(font/Denton-Test-ExtraBold-800.woff) format("woff");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Denton test';
  src: url(font/Denton-Test-Light-300.woff) format("woff");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Denton test';
  src: url(font/Denton-Test-Medium-500.woff) format("woff");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Denton 400';
  src: url(font/Denton-Test-Regular-400.woff) format("woff");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Denton 100', sans-serif;
  src: url(font/Denton-Test-Thin-100.woff) format("woff");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Helvetica Neue';
  src: url(font/HelveticaNeue-Medium.woff2) format("woff2"), url(font/HelveticaNeue-Medium.woff) format("woff");
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Helvetica Neue';
  src: url(font/HelveticaNeue-Italic.woff2) format("woff2"), url(font/HelveticaNeue-Italic.woff) format("woff");
  font-weight: normal;
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: 'Helvetica 100', sans-serif;
  src: url(font/HelveticaNeue-Thin.woff2) format("woff2"), url(font/HelveticaNeue-Thin.woff) format("woff");
  font-weight: 100;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Helvetica Neue';
  src: url(font/HelveticaNeue-Light.woff2) format("woff2"), url(font/HelveticaNeue-Light.woff) format("woff");
  font-weight: 300;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Helvetica Bold';
  src: url(font/HelveticaNeue-Bold.woff2) format("woff2"), url(font/HelveticaNeue-Bold.woff) format("woff");
  font-weight: bold;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Helvetica Neue';
  src: url(font/HelveticaNeue.woff2) format("woff2"), url(font/HelveticaNeue.woff) format("woff");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Denton test';
  src: url(font/Denton-Test-Black-900.woff) format("woff");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Denton test';
  src: url(font/Denton-Test-Bold-700.woff) format("woff");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Denton test';
  src: url(font/Denton-Test-ExtraBold-800.woff) format("woff");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Denton test';
  src: url(font/Denton-Test-Light-300.woff) format("woff");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Denton test';
  src: url(font/Denton-Test-Medium-500.woff) format("woff");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Denton test';
  src: url(font/Denton-Test-Regular-400.woff) format("woff");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Denton test';
  src: url(font/Denton-Test-Thin-100.woff) format("woff");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

.container {
  position: relative;
  color: #353535;
  background-color: transparent !important;
  min-height: 100vh;
  width: 1032px;
  margin: auto;
}

.header-text {
  width: 1032px;
  position: absolute;
  background: transparent;
  top: 217px;
}

.header-img {
  top: 210px;
  right: 0;
  position: absolute;
  width: 630px;
  transform: scaleX(-1);
  -webkit-transform: scaleX(-1);
  -moz-transform: scaleX(-1);
  -ms-transform: scaleX(-1);
  -o-transform: scaleX(-1);
}

.title-1 {
  font-family: "Helvetica Neue", sans-serif;
  font-size: 50px;
  font-weight: bold;
  background: transparent;
}

.title-2 {
  font-size: 70px;
  font-family: "Denton 500";
  background: transparent;
}

.title-3 {
  font-family: "Open Sans", sans-serif;
  font-size: 50px;
  font-weight: lighter;
  background: transparent;
}

.container-scroll {
  text-align: center;
  margin-top: -10%;
  margin-bottom: 10%;
  background: transparent;
}

.scroll-down {
  background: transparent;
  text-align: center;
  width: 70px;
  height: 70px;
  transition: 0.2s;
  -webkit-transition: 0.2s;
  -moz-transition: 0.2s;
  -ms-transition: 0.2s;
  -o-transition: 0.2s;
}

.container-scroll .scroll-down:hover {
  cursor: pointer;
  transform: scale(1.2);
  -webkit-transform: scale(1.2);
  -moz-transform: scale(1.2);
  -ms-transform: scale(1.2);
  -o-transform: scale(1.2);
}

p {
  margin: 0;
}

@media only screen and (min-width: 2560px) {
  .container {
    width: 50%;
    margin-top: 3%;
  }
  .header-img {
    width: 700px;
    height: 500px;
  }
  .header-text {
    width: auto;
    left: 0;
  }
  .title-1 {
    font-size: 60px;
  }
  .title-2 {
    font-size: 80px;
  }
  .title-3 {
    font-size: 60px;
  }
  .scroll-down {
    top: 60%;
    width: 70px;
    height: 70px;
  }
}

@media only screen and (max-width: 1440px) {
  .scroll-down {
    margin-top: 0;
  }
  .container {
    margin-top: -100px;
  }
}

@media only screen and (max-width: 390px) {
  .container {
    width: 100%;
    overflow: hidden;
  }
  .header-text {
    margin-left: 29px;
    margin-top: -146px;
    width: 356px;
    height: 290px;
  }
  .title-1 {
    font-size: 35px;
  }
  .title-2 {
    font-size: 45px;
  }
  .title-3 {
    font-size: 35px;
  }
  .header-img {
    margin-right: 28px;
    margin-top: 40px;
    width: 345px;
    height: 239px;
  }
  .scroll-down {
    top: 65%;
    width: 50px;
    height: 50px;
  }
}

.video-container {
  margin-left: 20%;
  margin-top: 100px;
  position: relative;
  height: 500px;
  color: #353535;
  background-color: transparent !important;
}

.video-title {
  font-family: "Helvetica Neue", sans-serif;
  font-size: 40px;
  font-weight: bold;
  position: absolute;
  background: transparent !important;
}

.video-content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-top: 8%;
  font-family: Helvetica Neue;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 25px;
  position: absolute;
  width: 465px;
  height: 143px;
}

.video {
  margin-left: 130%;
  position: absolute;
  width: 463px;
  height: 289px;
  background: #8d8989;
}

@media only screen and (min-width: 2560px) {
  .tremplin-container {
    margin-top: 750px;
  }
  .tremplin-title {
    margin-left: 450px;
  }
  .t1 {
    font-size: 80px;
  }
  .t2 {
    margin-top: 15px;
    font-size: 40px;
  }
  .tremplin-content {
    width: 550px;
    font-size: 18px;
    margin-left: 450px;
    margin-top: 80px;
  }
  .container-lance-toi {
    margin-left: 600px;
    margin-top: 85px;
    width: 400px;
  }
  .lance-toi {
    font-size: 30px;
  }
  .tremplin-ytb {
    margin-top: 120px;
    width: 563px;
    height: 389px;
    margin-right: 222px;
  }
}

@media only screen and (max-width: 1440px) {
  .tremplin-container {
    top: -50px;
  }
  .video-container {
    margin-left: 15%;
  }
  .video {
    margin-left: 113%;
  }
}

@media only screen and (max-width: 390px) {
  .tremplin-container {
    margin-top: 530px;
  }
  .tremplin-title {
    width: 360px;
    height: 127px;
    margin-left: 38px;
  }
  .t1 {
    font-size: 60px;
    font-weight: bold;
  }
  .t2 {
    margin-top: 15px;
    font-size: 30px;
    line-height: 40px;
  }
  .tremplin-content {
    margin-left: 30px;
    margin-top: 56px;
    font-size: 12px;
    width: 257px;
    height: 224px;
  }
  .tremplin-ytb {
    margin-top: 350px;
    width: 267px;
    height: 165px;
    margin-right: -60px;
  }
  .container-lance-toi {
    margin-top: 280px;
    margin-left: 161px;
  }
  .lance-toi {
    font-size: 16px;
  }
  .lance-img {
    width: 50px;
    height: 50px;
    margin-right: 30px;
  }
}

.container-concept {
  margin-left: 20%;
  margin-top: 50px;
  position: relative;
  height: 500px;
  color: #353535;
  background-color: transparent !important;
}

.circle {
  position: absolute;
  margin-top: 10px;
  width: 287px;
  height: 37px;
  border: solid #d65d38 0.5px;
  border-radius: 50%;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  -ms-border-radius: 50%;
  -o-border-radius: 50%;
  transform: rotate(13.5deg);
  -webkit-transform: rotate(13.5deg);
  -moz-transform: rotate(13.5deg);
  -ms-transform: rotate(13.5deg);
  -o-transform: rotate(13.5deg);
}

.concept-title {
  font-family: "Helvetica Neue", sans-serif;
  font-size: 40px;
  font-weight: bold;
  position: absolute;
  background: transparent !important;
}

.lamp {
  margin-top: 40px;
  margin-left: 50%;
  width: 390px;
  height: 375px;
}

@media only screen and (min-width: 2560px) {
  .container-concept {
    margin-top: 0;
    margin-bottom: 0;
    padding: 0;
  }
  .concept-title {
    font-size: 50px;
  }
  .circle {
    width: 390px;
    height: 50px;
    background: transparent;
  }
  .concept-p {
    margin-top: 100px;
    font-size: 18px;
  }
  .more {
    margin-top: 50px;
    width: 130px;
    height: 57px;
  }
  .quote {
    margin-top: 200px;
    font-size: 25px;
  }
}

@media only screen and (max-width: 390px) {
  .container-concept {
    margin-top: -30px;
  }
  .concept-title {
    font-size: 28px;
  }
  .circle {
    width: 191px;
    height: 24px;
  }
  .concept-p {
    margin-top: -20px;
    width: 315px;
    height: 146px;
    font-size: 12px;
  }
  .more {
    width: 83px;
    height: 22px;
  }
  .quote {
    margin-top: 120px;
    margin-left: 41px;
    text-align: center;
    width: 264px;
    height: 36px;
    font-size: 16px;
  }
  .fa-quote-left {
    margin-left: 10px;
    transform: translateY(-140%);
    color: #3b51d1;
    -webkit-transform: translateY(-140%);
    -moz-transform: translateY(-140%);
    -ms-transform: translateY(-140%);
    -o-transform: translateY(-140%);
  }
  .fa-quote-right {
    margin-left: -10px;
    transform: translateY(140%);
    -webkit-transform: translateY(140%);
    -moz-transform: translateY(140%);
    -ms-transform: translateY(140%);
    -o-transform: translateY(140%);
  }
}

@media only screen and (max-width: 1440px) {
  .container-concept {
    margin-left: 15%;
  }
  .lamp {
    margin-left: 45%;
  }
}

.grid-footer {
  color: #353535;
  margin-top: 300px;
  margin-left: 20%;
  display: -ms-grid;
  display: grid;
  gap: 150px 0px;
      grid-template-areas: "grid-logo grid-news" "grid-nav grid-medias";
}

.grid-logo {
  grid-area: "grid-logo";
}

.grid-news {
  grid-area: "grid-news";
}

.grid-nav {
  grid-area: "grid-nav";
}

.grid-medias {
  margin-top: 50px;
  grid-area: "grid-medias";
}

.news-title {
  font-family: Helvetica Neue;
  font-style: normal;
  font-weight: bold;
  font-size: 30px;
  line-height: 30px;
}

.news-mail {
  margin-top: 50px;
  color: #353535;
  font-size: 16px;
  font-family: "Helvetica Neue", sans-serif;
  font-weight: lighter;
  border-top: none;
  border-left: none;
  border-right: none;
  border-bottom: solid 1px #353535;
}

.mail {
  margin-top: 50px;
  position: absolute;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.send-mail {
  width: 60px;
  height: 60px;
  transition: 0.2s;
  -webkit-transition: 0.2s;
  -moz-transition: 0.2s;
  -ms-transition: 0.2s;
  -o-transition: 0.2s;
}

.send-mail:hover {
  transform: scale(1.2);
  -webkit-transform: scale(1.2);
  -moz-transform: scale(1.2);
  -ms-transform: scale(1.2);
  -o-transform: scale(1.2);
}

input:focus,
textarea:focus,
select:focus {
  outline: none;
}

.form-mail {
  color: #353535;
  font-size: 16px;
  font-family: "Helvetica Neue", sans-serif;
  font-weight: lighter;
  border-top: none;
  border-left: none;
  border-right: none;
  border-bottom: solid 1px #353535;
}

.nav-title {
  font-family: Helvetica Neue;
  font-style: normal;
  font-weight: bold;
  font-size: 30px;
  line-height: 30px;
}

.nav-links {
  margin-top: 50px;
  font-family: Helvetica Neue;
  font-style: normal;
  font-weight: 200;
  font-size: 14px;
  font-style: normal;
  line-height: 25px;
  -webkit-text-decoration-line: underline;
          text-decoration-line: underline;
  -moz-text-decoration-line: underline;
}

.medias-title {
  font-family: Helvetica Neue;
  font-style: normal;
  font-weight: bold;
  font-size: 30px;
  line-height: 30px;
}

.medias-links {
  margin-top: 50px;
}

.medias-img {
  margin-right: 30px;
  width: 60px;
  height: 60px;
  transition: 0.2s;
  -webkit-transition: 0.2s;
  -moz-transition: 0.2s;
  -ms-transition: 0.2s;
  -o-transition: 0.2s;
}

.medias-img:hover {
  transform: scale(1.2);
  -webkit-transform: scale(1.2);
  -moz-transform: scale(1.2);
  -ms-transform: scale(1.2);
  -o-transform: scale(1.2);
}

.text-footer {
  margin-top: 35px;
  font-family: Helvetica Neue;
  font-style: normal;
  font-weight: 200;
  font-size: 14px;
  line-height: 30px;
  text-align: center;
  padding: 30px;
}

@media only screen and (max-width: 1440px) {
  .grid-footer {
    margin-left: 16%;
    margin-top: 200px;
  }
  .text-footer {
    margin-left: -50px;
  }
}

a:hover {
  text-decoration: none;
}

a {
  text-decoration: none;
}

.header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  width: 100%;
  line-height: 70px;
}

.logo {
  height: 40px;
  width: 155px;
}

.menu a {
  color: #353535;
  margin-left: 5em;
  font-size: 16px;
  font-family: "Helvetica Neue", sans-serif;
  transition: 0.2s;
  -webkit-transition: 0.2s;
  -moz-transition: 0.2s;
  -ms-transition: 0.2s;
  -o-transition: 0.2s;
}

.hamburger {
  display: none;
}

a:hover {
  color: #d65d38;
}

@media only screen and (min-width: 2560px) {
  .menu a {
    font-size: 18px;
  }
}

@media only screen and (max-width: 390px) {
  .header {
    display: block;
    line-height: normal;
    width: 100%;
  }
  .menu {
    display: none;
  }
  .logo {
    margin-left: 133px;
    margin-top: 30px;
    width: 100px;
    height: 28px;
  }
  .hamburger {
    float: right;
    margin-right: 19px;
    margin-top: 28px;
    display: inherit;
    width: 42px;
    height: 31px;
  }
}

@media only screen and (max-width: 1440px) {
  .header {
    position: -webkit-sticky;
    position: sticky;
  }
}

@media only screen and (min-width: 2560px) {
  .container-newsletter {
    margin-top: 250px;
  }
  .newsletter-title {
    font-size: 50px;
  }
  .n-icon {
    width: 115px;
    height: 115px;
    margin-left: 165px;
    margin-top: 20px;
  }
  .newsletter-content {
    font-size: 18px;
  }
}

@media only screen and (max-width: 1440px) {
  .container-newsletter {
    top: -200px;
    margin-bottom: 0px;
  }
  .newsletter-content {
    margin-top: -150px;
  }
  input {
    width: 300px;
  }
}

@media only screen and (max-width: 390px) {
  .container-newsletter {
    margin-top: 400px;
  }
  .newsletter-title {
    font-size: 28px;
  }
  .n-icon {
    width: 55px;
    height: 55px;
    margin-top: 20px;
    margin-left: 95px;
  }
  .newsletter-content {
    margin-top: -150px;
    width: 265px;
    height: 60px;
    font-size: 12px;
  }
  .form-email {
    font-size: 12px;
  }
  input {
    width: 200px;
    font-size: 12px;
  }
  .send-btn {
    width: 50px;
    height: 50px;
    margin-left: 180px;
  }
}

* {
  font-style: normal;
}

h1 {
  font-family: "Helvetica Neue", sans-serif;
  font-size: 40px;
}

.ressource {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.container-ressources {
  width: 100%;
  margin-top: 250px;
  position: relative;
  color: #353535;
  background-color: transparent !important;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  bottom: 50px;
  margin-left: 20%;
}

.soleil {
  margin-left: 522px;
  margin-top: -30px;
  width: 118px;
  height: 118px;
}

.ressources-title {
  font-family: "Helvetica Neue", sans-serif;
  font-size: 40px;
  font-weight: bold;
  position: absolute;
  background: transparent !important;
}

.developper {
  width: 315px;
  height: 550px;
  margin-left: 20%;
  background-color: #3B51D1;
  color: #FFFAF4;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-align: center;
  letter-spacing: 0.5px;
}

.developper h2 {
  background: none;
  font-family: "Helvetica Medium", sans-serif;
  font-size: 26px;
  font-weight: bold;
  padding-top: 46px;
  padding-left: 46px;
  padding-right: 46px;
}

.developper .italic {
  font-style: italic;
}

.developper p {
  background: none;
  font-family: Helvetica Neue;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 25px;
  padding-top: 30px;
  padding-left: 46px;
  padding-right: 46px;
}

.developper .main {
  background: none;
  width: 315px;
  height: 225px;
  margin-top: 20px;
  margin-bottom: 10px;
}

.connaitre {
  margin-top: 100px;
  width: 315px;
  height: 550px;
  margin-left: 40px;
  background-color: #3B51D1;
  color: #FFFAF4;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-align: center;
  letter-spacing: 0.5px;
}

.connaitre h2 {
  background: none;
  font-family: "Helvetica Medium", sans-serif;
  font-size: 26px;
  font-weight: bold;
  padding-top: 46px;
  padding-left: 46px;
  padding-right: 46px;
}

.connaitre .italic {
  font-style: italic;
}

.connaitre p {
  background: none;
  font-family: Helvetica Neue;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 25px;
  padding-top: 30px;
  padding-left: 46px;
  padding-right: 46px;
}

.connaitre .marteau {
  margin-left: 20px;
  background: none;
  width: 225px;
  height: 260px;
  -webkit-transform: rotate(-32.9deg);
          transform: rotate(-32.9deg);
}

.aide {
  margin-top: 200px;
  width: 315px;
  height: 550px;
  margin-left: 40px;
  background-color: #3B51D1;
  color: #FFFAF4;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-align: center;
  letter-spacing: 0.5px;
}

.aide h2 {
  background: none;
  font-family: "Helvetica Medium", sans-serif;
  font-size: 26px;
  font-weight: bold;
  padding-top: 46px;
  padding-left: 46px;
  padding-right: 46px;
}

.aide .italic {
  font-style: italic;
}

.aide p {
  font-family: Helvetica Neue;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 25px;
  text-align: left;
  background: none;
  margin-top: 30px;
  padding-left: 46px;
  padding-right: 46px;
}

.aide .kichta {
  background: none;
  width: 200px;
  height: 215px;
  margin-top: 40px;
  margin-bottom: 23px;
  overflow: hidden;
  margin-left: 103px;
  transform: rotate(-90deg);
  -webkit-transform: rotate(-90deg);
  -moz-transform: rotate(-90deg);
  -ms-transform: rotate(-90deg);
  -o-transform: rotate(-90deg);
}

.all-ressources {
  font-family: Helvetica Neue;
  font-style: normal;
  font-weight: 200;
  font-size: 20px;
  line-height: 20px;
  position: absolute;
  margin-left: 20%;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.lance {
  margin-left: 100%;
  position: absolute;
  width: 70px;
  height: 70px;
  transition: 0.2s;
  -webkit-transition: 0.2s;
  -moz-transition: 0.2s;
  -ms-transition: 0.2s;
  -o-transition: 0.2s;
}

.lance:hover {
  cursor: pointer;
  transform: scale(1.2);
  -webkit-transform: scale(1.2);
  -moz-transform: scale(1.2);
  -ms-transform: scale(1.2);
  -o-transform: scale(1.2);
}

.developper:hover {
  cursor: pointer;
  transform: scale(1.1);
  -webkit-transform: scale(1.1);
  -moz-transform: scale(1.1);
  -ms-transform: scale(1.1);
  -o-transform: scale(1.1);
}

@media only screen and (min-width: 2560px) {
  .container-ressources {
    margin-top: 400px;
  }
  .ressources-title {
    font-size: 50px;
  }
  .soleil {
    width: 150px;
    height: 150px;
    margin-left: 667px;
    margin-top: 15px;
  }
  .developper {
    width: 400px;
    height: 789px;
    margin-left: 600px;
  }
  .developper h2 {
    font-size: 30px;
  }
  .developper p {
    font-size: 18px;
    margin-top: 40px;
  }
  .developper .main {
    width: 400px;
    height: 279px;
    margin-top: 80px;
    margin-bottom: 0;
  }
  .connaitre {
    width: 400px;
    margin-top: 100px;
    height: 789px;
    margin-left: 100px;
  }
  .connaitre h2 {
    font-size: 30px;
  }
  .connaitre p {
    font-size: 18px;
    margin-top: 90px;
  }
  .connaitre .marteau {
    width: 270px;
    height: 295px;
    margin-top: 100px;
    margin-bottom: 0;
    margin-left: 40px;
  }
  .aide {
    width: 400px;
    margin-top: 200px;
    height: 789px;
    margin-left: 100px;
    overflow: hidden;
  }
  .aide h2 {
    font-size: 30px;
  }
  .aide p {
    font-size: 18px;
    margin-top: 100px;
  }
  .aide .kichta {
    width: 300px;
    height: 335px;
    margin-top: 80px;
    margin-right: 0;
  }
}

@media only screen and (max-width: 1440px) {
  .ressource {
    margin-top: -150px;
  }
  .container-ressources {
    margin-left: 15%;
  }
  .developper {
    width: 315px;
    height: 550px;
    margin-left: 15%;
  }
  .connaitre {
    width: 315px;
    height: 550px;
  }
  .aide {
    width: 315px;
    height: 550px;
  }
  .all-ressources {
    margin-left: 15%;
  }
}

i {
  text-decoration: none;
  background: transparent;
}

@media only screen and (max-width: 390px) {
  .ressource {
    margin-top: -270px;
  }
  .ressources-title {
    width: 315px;
    height: 60px;
    font-size: 28px;
    margin-left: 30px;
  }
  .soleil {
    width: 100px;
    height: 100px;
    margin-top: 50px;
    margin-left: -20px;
  }
  .developper {
    margin-left: 60px;
    width: 270px;
    height: 370px;
  }
  .developper h2 {
    margin-top: 35px;
    padding: 0;
    font-size: 18px;
  }
  .developper p {
    margin-left: 30px;
    margin-top: 40px;
    padding: 0;
    font-size: 12px;
    width: 198px;
    height: 139px;
  }
  .developper .main {
    margin-top: -50px;
    width: 450px;
    height: 325px;
    margin-left: -110px;
    overflow: hidden;
  }
  .connaitre {
    margin-left: 60px;
    width: 270px;
    height: 370px;
  }
  .connaitre h2 {
    margin-top: -20px;
    font-size: 18px;
  }
  .connaitre p {
    margin-left: 30px;
    margin-top: 20px;
    padding: 0;
    font-size: 12px;
    width: 198px;
    height: 139px;
  }
  .connaitre .marteau {
    width: 230px;
    height: 260px;
    margin-top: 20px;
    margin-left: -70px;
  }
  .aide {
    margin-top: 150px;
    margin-left: 60px;
    width: 270px;
    height: 370px;
  }
  .aide h2 {
    margin-top: 35px;
    padding: 0;
    font-size: 18px;
  }
  .aide p {
    text-align: center;
    margin-left: 30px;
    margin-top: 40px;
    padding: 0;
    font-size: 12px;
    width: 198px;
    height: 139px;
  }
  .aide .kichta {
    margin-top: -20px;
    margin-right: 100px;
  }
}

.container-valeurs {
  position: relative;
  color: #353535;
  background-color: transparent !important;
  margin-left: 20%;
  position: relative;
}

.logo-n {
  width: 72px;
  height: 72px;
  margin-left: 160px;
  position: absolute;
}

.valeurs-title {
  position: absolute;
  font-family: "Helvetica Neue", sans-serif;
  font-size: 40px;
  font-weight: bold;
  background: transparent !important;
}

.grid-valeurs {
  margin-top: 8%;
  margin-left: 20%;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: auto auto;
      grid-template-columns: auto auto;
}

.engagement {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.grid-img:hover {
  cursor: pointer;
  transform: scale(1.2);
  -webkit-transform: scale(1.2);
  -moz-transform: scale(1.2);
  -ms-transform: scale(1.2);
  -o-transform: scale(1.2);
}

.accessibilite {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.pragmatisme {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.grid-img {
  transition: 0.6s;
  -webkit-transition: 0.6s;
  -moz-transition: 0.6s;
  -ms-transition: 0.6s;
  -o-transition: 0.6s;
  width: 170px;
  height: 170px;
  margin-bottom: 100px;
}

.grid-title {
  margin-left: 2%;
  background: transparent;
  position: absolute;
  font-family: "Helvetica Neue", sans-serif;
  font-weight: 500;
  font-size: 25px;
}

.grid-p {
  font-style: normal;
  background: transparent;
  font-family: "Helvetica Neue", sans-serif;
  font-size: 16px;
  width: 320px;
  line-height: 25px;
  font-weight: 400;
}

.pragmatisme .grid-title {
  margin-top: 25px;
  margin-left: 50px;
}

@media only screen and (min-width: 2560px) {
  .valeurs-title {
    font-size: 50px;
  }
  .logo-n {
    width: 90px;
    height: 90px;
    margin-left: 222px;
    margin-top: 34px;
  }
}

@media only screen and (max-width: 1440px) {
  .container-valeurs {
    margin-left: 15%;
  }
  .grid-valeurs {
    margin-left: 15%;
  }
}

.events-container {
  margin-left: 20%;
  position: relative;
  height: 500px;
  margin-top: 150px;
  color: #353535;
  background-color: transparent !important;
}

.events-container .events-content {
  margin-top: 150px;
  font-family: Helvetica Neue;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 25px;
  position: absolute;
  width: 542px;
  height: 143px;
}

.events-title {
  position: absolute;
  font-family: "Helvetica Neue", sans-serif;
  font-size: 40px;
  font-weight: bold;
  background: transparent !important;
}

.all-events {
  margin-top: -150px;
  font-family: Helvetica Neue;
  font-style: normal;
  font-weight: 200;
  font-size: 20px;
  line-height: 20px;
  position: absolute;
  margin-left: 20%;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

@media only screen and (max-width: 1440px) {
  .events-container {
    margin-top: 250px;
    margin-left: 15%;
  }
  .all-events {
    margin-left: 15%;
    margin-top: -170px;
  }
}

h2 {
  margin-top: 40px;
  margin-left: 20px;
  font-family: "Denton test", sans-serif;
  font-weight: bold;
}

h3 {
  margin-top: 30px;
  margin-left: 20px;
  font-family: "Denton test", sans-serif;
  font-weight: bold;
}

p {
  margin-top: 10px;
  margin-left: 15px;
  text-align: justify;
  font-family: "Helvetica Neue", sans-serif;
  margin-right: 15px;
  margin-bottom: 15px;
}

li {
  margin-right: 15px;
  margin-top: 10px;
  margin-left: 40px;
  text-align: justify;
  font-family: "Helvetica Neue", sans-serif;
}

h1 {
  font-family: "Helvetica Neue", sans-serif;
  font-style: normal;
  font-weight: bold;
  font-size: 80px;
}

.button {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  font-family: "Helvetica Neue", sans-serif;
  font-style: normal;
  font-size: 20px;
  color: black;
}

.button p {
  font-style: normal;
  font-weight: 200;
  font-size: 20px;
  line-height: 20px;
  text-transform: uppercase;
}

article {
  margin-top: 10%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.nosvid {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.nosvid .letexte {
  margin-left: 223px;
}

.nosvid .letexte h1 {
  margin-left: 10px;
  margin-bottom: 2%;
}

.nosvid .letexte p {
  font-family: "Helvetica Neue", sans-serif;
  font-style: normal;
  font-size: 25px;
}

.nosvid .letexte .diago {
  width: 70px;
  height: 70px;
  margin-left: 10px;
  margin-top: -13px;
}

.nosvid .chat {
  margin-top: 100px;
  margin-right: 94px;
}

.vid {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.vid h2 {
  font-style: normal;
  font-weight: bold;
  font-size: 40px;
  line-height: 30px;
  margin-right: 795px;
}

.vid iframe {
  margin-top: 51px;
  margin-bottom: 51px;
  width: 995px;
  height: 556px;
  background-color: grey;
}

.vid h3 {
  font-style: normal;
  font-weight: 500;
  font-size: 25px;
  line-height: 25px;
  margin-right: 865px;
}

.lesvids .recherchebientot {
  width: 100%;
  height: 100px;
  margin-bottom: 100px;
  background-color: grey;
  text-align: center;
  font-size: 100px;
}

.lesvids .gridvid {
  width: 100%;
  margin-left: 223px;
  margin-right: 223px;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (minmax(312px, 195px))[auto-fit];
      grid-template-columns: repeat(auto-fit, minmax(312px, 195px));
  gap: 50px;
}

.lesvids .gridvid div {
  width: 100%;
  height: 195px;
  background-color: grey;
}

.lesvids .gridvid h3 {
  margin-top: 210px;
}

.lesvids .voir {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  font-style: normal;
  font-weight: 200;
  font-size: 20px;
  text-transform: uppercase;
  margin-left: 223px;
  margin-top: 120px;
}

.lesvids .voir img {
  margin-top: -22px;
  margin-left: 15px;
}
/*# sourceMappingURL=styles.css.map */